/* Universal Styles */

html {
  box-sizing: border-box;
  font-size: 18px;
}

body {
  font-family: Helvetica;
}

h2 {
  font-size: 1rem;
  color: white;
}

.site-container {
  width: 960px;
  margin: 0 auto;
}


/* Header */

header {
  background: black;
  padding: 0.66rem 0;
}

img {
  display: inline-block;
  margin-left: 0.5rem;
  height: 1.5rem;
}

header h2 {
  display: inline-block;
  margin-left: 1rem;
}


/* Main Banner */

.main-banner {
  height: 25rem;
  background-image: url("../images/moto.jpg");
  background-size: cover;
}

.featured {
  width: 20rem;
  background: black;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

.featured h2 {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  line-height: 1.3em;
}


/* Navigation Bar */

nav {
  background-color: firebrick;
  padding: 0.75rem 0;
}

nav .site-container {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
}
